


.formCard{
    margin-top: 150px;
    width: 280px;
    height: 350px;
}

form{
    margin-top: 40px;
}

.submitbutton{
    width: 280px;
}

.myformfield{
    width: 280px;
    border-radius: 20px;
    
  
   
}

.description{
    margin-top: -20px;
    margin-left: -23px;
    color: #a7a5a5;
}

.welcome{
    margin-left: -23px; 
    color: blue;
}